.event {
  border: 1px solid dimgray;
  padding: 5px;
  margin: 5px;
}

.page-chosen {
  border: 1px solid dimgray;
}

.paginate {
  display: flex;
  flex-direction: row;
}

.paginate li {
  padding: 10px;
  display: block;
}

input, label, button, textarea {
  margin: 5px;
}

textarea {
  resize: none;
}